.accordion{
    width: 50%;
}
.ui-accordion-header-active.ui-state-active,
.ui-tabs-active.ui-state-active {
    background: black;
    background-color: rgb(79, 88, 79);
    border: solid 1px black;
    margin: 0px;
}

.checkboxlist{
    list-style: none;
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
}

.checkbox{
    width:75%;
}
.overflow {
    height: 200px;
  }
  .ui-controlgroup {
      display: block;
      border: 1px grey solid;
  }

  .tabname.active{
background: blue;
  }

